html {
	width:700px;
	max-height: 586px;
}
body {
	color: white;
	font-family:arial;
}
#videos {
	float: left; 
	width: 84%;
}
#popup {
	max-height:580px;
	margin: 0 auto;
	padding: 0 0 1px 0;
}
#sidebar {
	width:15%;
	float: right;
	height: 500px;
	overflow: auto;
	border-left: 1px solid #c7cfe6;
}
#sidebar img {
	margin-bottom: 5px;
}
#novids {
	display: none;
}
.error {
	color:rgb(192, 192, 192);
}
.error h1 {
	text-align: center;
}
.error a {
	color: rgb(55, 105, 160);
}
#nav_logo {
	background-image: url(../images/icon38.png);
	width: 38px;
	height: 38px;
	top: 18px;
	position: absolute;
}
.ss {
	margin-left: 1em;
	opacity: .5;
}
.selected {
	opacity: 1;
}
#nav {
	background-color: #000;
	margin-bottom: 10px;
	padding: 20px 10px;
}
.newVid {
	font-style: italic;
	color: rgb(211, 25, 25);
}
.t {
	display:block;
	margin-bottom: 5px;
	font-weight:700;
	color:rgb(45, 63, 95);
}
.details {
    display:block;
    color: #696868;
    font-size:12px;
    position: absolute;
    bottom: 0;
    left: 210px;
    
}
button.details {
    left:0;
    border-style:none;
    cursor:pointer;
}
.wrap {
    float: left; 
    clear: left; 
    margin: 0  0.9em 0.9em 0;
}
.description {
	font-style: italic;
	color: #000;
	font-size: 12px;
}
.thumb {
	width: 200px;
}
.container {
clear:both;
position:relative;
height:113px;
}
.vid {
        height: 113px;
}
.vid:hover {
    background-color: rgb(226, 242, 255);
}
.modal {
    position:   absolute;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url(../images/loading.gif) 
                50% 50% 
                no-repeat;
}
.modal div {
    position:   absolute;
    z-index:    2000;
    top:        55%;
    width:      100%;
    text-align: center;
	color: black;
}
a {
	text-decoration: none;
}