.modal {
    position:   absolute;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url(http://www.juanix.net/apps/my-youtube/images/loading.gif) 
                50% 50% 
                no-repeat;
}
.modal div {
    position:   absolute;
    z-index:    2000;
    top:        55%;
    width:      100%;
    text-align: center;
}